<div class="container mt-5">
  <div class="card shadow-sm border-0">
    <div class="card-header bg-white py-3 d-flex justify-content-between align-items-center border-bottom">
      <h3 class="m-0 text-primary fw-bold d-flex align-items-center">
        <i class="bi bi-people-fill"></i>
        <span class="ms-2">Gestión de Clientes</span>
      </h3>

      <button class="btn btn-primary px-4 shadow-sm d-inline-flex align-items-center" [routerLink]="['/cliente/form']">
        <i class="bi bi-person-plus-fill me-2"></i>
        Nuevo Cliente
      </button>
    </div>

    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
          <thead class="table-light">
            <tr>
              <th class="ps-4 py-3 text-secondary small fw-bold">IDENTIFICACIÓN</th>
              <th class="py-3 text-secondary small fw-bold">NOMBRE</th>
              <th class="py-3 text-secondary small fw-bold">EMAIL</th>
              <th class="py-3 text-secondary small fw-bold">TELÉFONO</th>
              <th class="text-center pe-4 py-3 text-secondary small fw-bold">ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes">
              <td class="ps-4 text-dark">{{ cliente.numeroIdentificacion }}</td>
              <td class="text-dark">
                <span class="fw-bold">{{ cliente.nombre }} {{ cliente.apellidoPaterno }} {{ cliente.apellidoMaterno || '' }}</span>
              </td>
              <td class="text-dark">{{ cliente.email }}</td>
              <td class="text-dark">{{ cliente.telefono }}</td>

              <td class="text-center pe-4">
                <button class="btn btn-outline-warning btn-sm me-2 d-inline-flex align-items-center"
                        [routerLink]="['/cliente/form', cliente.idCliente]">
                  <i class="bi bi-pencil-square me-1"></i>
                  Editar
                </button>

                <button class="btn btn-outline-danger btn-sm d-inline-flex align-items-center"
                        (click)="eliminar(cliente.idCliente)">
                  <i class="bi bi-trash3-fill me-1"></i>
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
