.active-link {
  background: rgba(0, 0, 0, 0.05) !important; /* Brillo oscuro sutil */
  border-bottom: 3px solid #ffca28 !important;
  border-radius: 4px 4px 0 0;
}

.mat-toolbar button[mat-icon-button] {
  color: black !important;
}

button[mat-button]:hover {
  background: rgba(0, 0, 0, 0.03);
}

.brand {
  cursor: pointer;
  transition: opacity 0.2s ease;
  color: black; 
}

  .brand:hover {
    opacity: 0.7;
  }

.mat-toolbar {
  z-index: 1050;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white !important;

}

@media (max-width: 576px) {
  .brand span {
    font-size: 0.9rem;
  }
}
