<div class="login-wrapper">
  <mat-card class="login-card shadow">
    <mat-card-header>
      <mat-card-title>Bienvenido</mat-card-title>
      <mat-card-subtitle>Ingresa tus credenciales para continuar</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput type="email" formControlName="email" placeholder="ejemplo@correo.com">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="loginForm.get('email')?.invalid">
            Por favor, ingresa un correo válido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit"
                class="full-width login-button" [disabled]="loginForm.invalid">
          ENTRAR
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
