.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Centrado vertical */
  background-color: #f5f5f5;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 12px;
}

mat-card-header {
  margin-bottom: 20px;
  justify-content: center;
}

mat-card-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #3f51b5; /* Color primary de Material */
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.full-width {
  width: 100%;
}

.login-button {
  margin-top: 10px;
  padding: 25px 0;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 8px;
}

.shadow {
  box-shadow: 0 10px 25px rgba(0,0,0,0.1) !important;
}
